<div class="container">
    <h1 class="display-6 text-center color">{{title}}</h1>
    <p class="text-center fs-6">{{slug}}</p>
    <p class="text-end">{{date}}</p>
    <p class="text-start">{{content}}</p>
</div>