<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-blogs-C++</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>C++</h1>
    <div>14-10-2021</div>
    <div>C++ programs are directly compiled into machine-executable codes which consumes less time to execute the code. Hence, it is widely used in competitive programming where you are expected to optimise time and memory. So, if you are interested to explore competitive programming then it is good to start with C++ language</div>
    
</body>
</html>