<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog-blogs-Java</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>
    <h1>Java</h1>
    <div>12-10-2021</div>
    <div>Java programs are easy to understand, structured and less prone to errors. Also, they are platform independent and portable which makes it a good choice for mobile, web and desktop applications. So, if you are looking for a career in software development then it is good to start with the Java language</div>
    
</body>
</html>